<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.microphone" android:required="true" />
    <uses-feature android:name="android.hardware.camera.any" android:required="false" />

    <application
        android:allowBackup="false"
        android:usesCleartextTraffic="false"
        android:label="Metehan"
        android:icon="@drawable/metehan_icon"
        android:roundIcon="@drawable/metehan_icon"
        android:theme="@style/Theme.Metehan">

        <activity android:name=".CameraVisionActivity" android:exported="false" />
        <activity android:name=".CommandCenterActivity" android:exported="false" />
        <activity android:name=".MetehanPanelActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".MetehanVoiceInteractionService"
            android:label="Metehan"
            android:permission="android.permission.BIND_VOICE_INTERACTION"
            android:process=":interactor"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.voice.VoiceInteractionService" />
            </intent-filter>
            <meta-data android:name="android.voice_interaction" android:resource="@xml/voice_interaction_service" />
        </service>

        <service
            android:name=".MetehanVoiceInteractionSessionService"
            android:permission="android.permission.BIND_VOICE_INTERACTION"
            android:process=":session"
            android:exported="true" />

        <service
            android:name=".MetehanRecognitionService"
            android:permission="android.permission.BIND_SPEECH_RECOGNITION_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.speech.RecognitionService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.speech" android:resource="@xml/recognition_service" />
        </service>
    </application>
</manifest>
